textarea {
    resize: none;
    width: 180px;
    height: 300px;

    overflow: scroll;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    height: 500px;
}